body{
    background-color: azure;
   }
   img{
    mix-blend-mode: multiply;
   }
   .login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 100px;
   }
   .details{
    border: 1px solid;
    height: 500px;
    width: 30%;
    padding-left: 20px;
    margin-left: 20px;
    border: 1px solid black;
   }
   input{
    width: 450px;
    height: 40px;
    border-radius: 20px;
      
    
   }
   .details{
    box-shadow: 
3px 3px 5px rgba(0, 0, 0, 0.2), /* Base shadow */
6px 6px 10px rgba(0, 0, 0, 0.15), /* Mid-layer shadow */
9px 9px 15px rgba(0, 0, 0, 0.1); /* Far-layer shadow */
border: 1px solid wheat;
}
img{
width: 600px;
}
.img2{
position: relative;
width: 300px;

}
.img2{
animation: flight 12s infinite linear;
height: 80px;
}
@keyframes flight {
0%{
    left: 0px;
}
100%{
    left: 2000px;
}
}