body{
    background-image: url(https://img.freepik.com/premium-photo/travel-concept-blue-background-with-copy-space-airplane-toy-blue-color-background_661495-33661.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Registration{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
    border: 1px solid;
    width: 500px;
    height: 600px;
    margin-left: 680px;
    margin-top: 120px;
    border-radius: 10px;
    background-color: white;
    box-shadow:
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12)
}
label{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
input{
    height: 40px;
    width: 400px;
    border-radius: 6px;
    border: 0.5px solid;
}
.butt{
    width: 300px;
    height: 40px;
    background-color: #FF5733 ;
    border-radius: 8px;
}
#h11{
    color: #FF5733;
}