        .myprofile {
            width: 30%;
            border: 1px solid;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .user {
            display: grid;
            grid-template-columns: 1fr 2fr; 
            gap: 20px;
            padding: 20px;
            background-color: #eee;
            opacity: 0.9;
        }
        .nam {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(2, 45%); 
            gap: 20px;
            grid-template-rows: repeat(3, auto); 
            padding: 10px;
            width: 100%;
            margin-left: -190px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: aliceblue;
        }
        .container div {
            padding: 10px;
            height: 170px;
        }
        #name {
            grid-column: 1/2; 
        }
        #emailid {
            grid-column: 2/3;
        }
        #dateofbirth {
            grid-column: 1/2;
        }
        #Gender {
            grid-column: 2/3; 
        }
        #phone {
            grid-column: 1/2;
        }
        .nam p{
            font-size: 40px;
        }
        .nam h1{
            opacity: 0.5;
        }
        .trip{
            display: flex;
            align-items: center;
            gap: 20px;
            border: 1px solid;
            width: 100%;
            border-left: none;
            border-bottom: none;
            border-right:  none;
        }
        #but{
            width: 120px;
            height: 40px;
            border: none;
            background: transparent;
            font-size: 20px;
        }
        #pq{
            font-size: 40px;
        }
